<!doctype html>
<title>Stock Info</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Stock Info</h1>
  <div class=metanav>
    <h4>
      The Stock Ticker You Entered Is not Valid.<br>
      Please Try Again.
    </h4>
    <form id='stock_ticker' method='post' action='index' >
      <p>
    Ticker: <input type='text' name='name_ticker' />
      </p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>